# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Test
coverage/

# Prisma
prisma/migrations/**/migration_lock.toml
prisma/dev.db
prisma/dev.db-journal

# Misc
*.tsbuildinfo

# Uploaded files
uploads/
